<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/css/detailed_information.css">
</head>

<body>
    <div class="wrap wrap-category-edit">
        <h1>员工详细信息查看与编辑</h1>
        <div class="tips"></div>
        <div class="box">
            <div class="box-title">
                <a href="Employee_nformation.php" class="yuangong">员工管理列表</a> > 详细信息：
                <?php echo $row['name'];?>

            </div>
            <div class="box-body" style="text-align: -webkit-center;">
                <form method="post" action="detailed_information.php">
                    <table border="1" cellspacing="0" cellpadding="0" class="table" style="margin-bottom: 10px;">
                        <tr height="30px " align="center">
                            <td width="105px" style="height: 30px;"><b>姓名</b></td>
                            <td width="120px" style="height: 30px;">
                                <!-- <?php echo $row['name'];?> -->
                                <input type="text" name="CKname" value="<?php echo $row['name'];?>" autocomplete="off">
                            </td>
                            <td width="105px"><b>性别</b></td>
                            <td width="150px" style="height: 30px;">
                                <input type="text" name="CKgender" value="<?php echo $row['gender'];?>" autocomplete="off">
                            </td>
                            <td width="150px " rowspan="6 "><img src="<?php echo $row['zhaopian'];?>" width="150px " title="这是照片 " alt="这是照片" /></td>
                        </tr>
                        <tr height="30px " align="center ">
                            <td width="105px" class="t1"><b>民族</b></td>
                            <td width="120px " style="height: 30px;">
                                <input type="text" name="CKnation" value="<?php echo $row['nation'];?>" autocomplete="off">
                            </td>
                            <td width="105px" class="t2"><b>籍贯</b></td>
                            <td width="150px " style="height: 30px;">
                                <input type="text" name="CKbirthplace" value="<?php echo $row['birthplace'];?>" autocomplete="off">
                            </td>
                        </tr>
                        <tr height="30px " align="center ">
                            <td width="105px" class="t1"><b>身高(cm)</b></td>
                            <td width="120px" style="height: 30px;">
                                <input type="text" name="CKheigh" value="<?php echo $row['heigh'];?>" autocomplete="off">
                            </td>
                            <td width="105px" class="t2"><b>体重(kg)</b></td>
                            <td width="150px " style="height: 30px;">
                                <input type="text" name="CKweight" value="<?php echo $row['weight'];?>" autocomplete="off">
                            </td>
                        </tr>
                        <tr height="30px " align="center ">
                            <td width="105px" class="t1"><b>学历</b></td>
                            <td width="120px " style="height: 30px;">
                                <input type="text" name="CKeducation" value="<?php echo $row['education'];?>" autocomplete="off">
                            </td>
                            <td width="105px " class="t2"><b>专业</b></td>
                            <td width="150px " style="height: 30px;">
                                <input type="text" name="CKmajor" value="<?php echo $row['major'];?>" autocomplete="off">
                            </td>
                        </tr>
                        <tr height="30px " align="center ">
                            <td width="105px " class="t1"><b>出生日期</b></td>
                            <td width="120px " style="height: 30px;">
                                <input type="text" name="CKbirthday" value="<?php echo $row['birthday'];?>" autocomplete="off">
                            </td>
                            <td width="105px " class="t2"><b>毕业院校</b></td>
                            <td width="150px " style="height: 30px;">
                                <input type="text" name="CKSchool" value="<?php echo $row['School'];?>" autocomplete="off">
                            </td>
                        </tr>
                        <tr height="30px " align="center ">
                            <td width="105px " class="t1"><b>联系电话</b></td>
                            <td width="120px " style="height: 30px;">
                                <input type="text" name="CKphone" value="<?php echo $row['phone'];?>" autocomplete="off">
                            </td>
                            <td width="105px " class="t2"><b>邮箱</b></td>
                            <td width="150px " style="height: 30px;">
                                <input type="text" name="CKemail" value=" <?php echo $row['email'];?>" autocomplete="off">
                            </td>
                        </tr>
                        <tr height=" 30px " align="center ">
                            <td width="105px " class="t1"><b>家庭住址</b></td>
                            <td colspan="4 " style="height: 30px;">
                                <input type="text" name="CKaddress" value="<?php echo $row['address'];?>" autocomplete="off">
                            </td>
                        </tr>
                        <tr height="150px " align="center ">
                            <td width="105px" class="t1"><b>个人说明</b></td>
                            <td colspan="4 " style="height: 30px;">
                                <input type="text" name="CKexplain" value="<?php echo $row['explain'];?>" autocomplete="off">
                            </td>
                        </tr>
                        <tr height="150px " align="center ">
                            <td width="80 " class="t1"><b>工作经历</b></td>
                            <td colspan="4 " style="height: 30px; margin-top: 1px;">
                                <input type="text" name="CKexperience" value="<?php echo $row['experience'];?>" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <input type="text" style="display:none" name="CKid" value="<?php echo $row['id'];?>" />
                        </tr>
                    </table>
                    <input type="submit" value="保存并退出" style="float: right;width: 80px; height: 30px; margin: 10px 0;" name="button">
                </form>
                <form action="zhaopian.php" method="post" enctype="multipart/form-data" style="float: right;">
                    <input type="text" style="display:none" name="CKid" value="<?php echo $row['id'];?>" />
                    <input type="file" name="file" style="width: 200px; margin: 10px 0px;" id="file" />
                    <input type="submit" value="上传照片" style="float: right;width: 80px; height: 30px; margin: 10px 5px;" name="submit" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>