<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css/style.css">
    <script src="js/jquery.min.js"></script>
    <title>员工信息管理</title>
</head>

<body>
    <div class="wrap wrap-article">
        <h1>信息管理</h1>
        <div class="s-nav">
            <div>
                <form method="POST" action="searcha.php">
                    <input type="text" name="keywords" value="" placeholder="输入关键字" style="width: 162px; height: 28px;"><input type="submit" value="搜索人员" name="sousuo">
                </form>
            </div>
            <div class="add">
                <form method="POST">
                    <input type="button" name="Submit" value="添加员工" class="btn" onclick="location.href='Addempl.php'" />
                </form>
            </div>
        </div>
        <div class="tips"></div>
        <div class="box">
            <div class="box-body">
                <table>
                    <tr>
                        <th style="width: 70px;">状态</th>
                        <th>编号</th>
                        <th style="width: 70px;">姓名</th>
                        <th style="width: 70px;">性别</th>
                        <th style="width: 70px;">年龄</th>
                        <th style="width: 120px;">所属部门</th>
                        <th>入职时间</th>
                        <th>离职时间</th>
                        <th>信息操作</th>
                    </tr>
                    <?php while ($row = mysql_fetch_assoc($rs_result)) {?>
                    <tr>
                        <td class='s-show'>
                            <?php echo $row['state'];?>
                        </td>
                        <td class='s-title'>
                            <a target="panel" href="../view/login.html " target="_blank ">
                                <?php echo $row['num'];?>
                            </a>
                        </td>
                        <td>
                            <?php echo $row['name'];?>
                        </td>
                        <td>
                            <?php echo $row['gender'];?>
                        </td>
                        <td>
                            <?php echo $row['age'];?>
                        </td>
                        <td>
                            <a href="?cid=6 ">
                                <?php echo$row['department'];?>
                            </a>
                        </td>
                        <td>
                            <?php echo $row['hiredate'];?>
                        </td>
                        <td>
                            <?php echo $row['leavedate'];?>
                        </td>
                        <td class='s-act'>
                            <a href="javascript:edit(<?php echo $row['id']?>)" class="jq-edit">编辑</a><a href=" javascript:del(<?php echo $row[ 'id']?>)" class="jq-del ">删除</a><a href="javascript:check(<?php echo $row[ 'id']?>)">查看详情</a>
                        </td>
                    </tr>
                    <?php }; ?>
                </table>

            </div>
        </div>
        <div class="pagelist " id="pagelist">
            <!-- <span>首页</span><span>上一页</span><a href="?page=1 " class="curr ">1</a><a href="?page=2 ">2</a><a href="?page=3 ">3</a><a href="?page=2 ">下一页</a><a href="?page=2 ">尾页</a>-->
            <?php
            $sql = "SELECT * FROM employeelist "; 
            $rs_result = mysql_query($sql); //查询数据
            $total_records = mysql_num_rows($rs_result);  // 统计总共的记录条数
            $total_pages = ceil($total_records / $num_rec_per_page);  // 计算总页数
            echo "<a href='Employee_nformation.php?page=1'>".'首页'."</a> "; // 第一页

            for ($i=1; $i<=$total_pages; $i++) { 
                        echo "<a  href='Employee_nformation.php?page=".$i."'>".$i."</a>"; 
            }; 
            echo " <a href=Employee_nformation.php?page=$total_pages'>".'尾页'."</a>"; // 最后一页
            ?>
        </div>
    </div>
    <script>
        // (function() {
        //     //删除前提示
        //     $(".jq-del ").click(function() {
        //         return confirm("您确定要删除此员工？");
        //         window.location = "del.php?id=" + id;
        //     });
        // })();
        function del(id) {
            if (confirm("确认删除此员工？")) {
                window.location.href = "del.php?id=" + id; //跳转
            }
        }

        function edit(id) {
            window.location.href = "EmInformation_edit.php?id=" + id; //本页跳转
        }

        function check(id) {
            window.location.href = "detailed_information.php?id=" + id; //本页面跳转
        }
    </script>
</body>

</html>