<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css/style.css">
    <title>员工基础信息编辑</title>
</head>

<body>
    <div class="wrap wrap-category-edit">
        <h1>员工工资调整</h1>
        <div class="tips"></div>
        <div class="box">
            <div class="box-title">
                工资信息：
                <?php echo $row['name'];?>
            </div>
            <div class="box-body">
                <form method="post" action="management_edit.php">
                    <table>
                        <tr class="s-author">
                            <th width="80px">姓名：</th>
                            <td><input type="text " name="nameGZ" value="<?php echo $row['name'];?>"></td>
                        </tr>
                        <tr>
                            <th width="200px">职称：</th>
                            <td><input type="text " name="titleGZ" value="<?php echo $row['title'];?>"></td>
                        </tr>
                        <tr>
                            <th width="80">月薪：</th>
                            <td><input type="text" name="monthlysalaryGZ" value="<?php echo $row['monthlysalary'];?>"></td>
                        </tr>
                        <tr class="s-author">
                            <th>时薪：</th>
                            <td>
                                <input type="text" name="hourlywageGZ" value="<?php echo $row['hourlywage'];?>">
                            </td>
                        </tr>
                        <tr class="s-keywords">
                            <th>缺勤天数：</th>
                            <td>
                                <input type="text" name="AbsencedaysGZ" value="<?php echo $row['Absencedays'];?>">
                            </td>
                        </tr>
                        <tr class="s-description">
                            <th>加班时数：</th>
                            <td><input type="text" name="OvertimehoursGZ" value="<?php echo $row['Overtimehours'];?>"></td>
                        </tr>
                        <tr class="s-thumb">
                            <th>加班薪资：</th>
                            <td><input type="text" name="ZhengBanGZ" value="<?php echo $row['ZhengBan'];?>"></td>
                        </tr>
                        <tr class="s-editor">
                            <th>正班薪资：</th>
                            <td><input type="text" name="JiaBanGZ" value="<?php echo $row['JiaBan'];?>"></td>
                        </tr>
                        <tr class="s-editor">
                            <th>津贴：</th>
                            <td><input type="text" name="allowanceGZ" value="<?php echo $row['allowance'];?>"></td>
                        </tr>
                        <tr class="s-editor">
                            <th>全勤奖：</th>
                            <td><input type="text" name="PAGZ" value="<?php echo $row['PA'];?>"></td>
                        </tr>
                        <tr class="s-editor">
                            <th>请假缺勤扣款：</th>
                            <td><input type="text" name="DFAFWGZ" value="<?php echo $row['DFAFW'];?>"></td>
                        </tr>
                        <tr class="s-editor">
                            <th>社保费用：</th>
                            <td><input type="text" name="SSFGZ" value="<?php echo $row['SSF'];?>"></td>
                        </tr>
                        <tr class="s-editor">
                            <th>应得薪资：</th>
                            <td><input type="text" name="DueToPayGZ" value="<?php echo $row['DueToPay'];?>"></td>
                        </tr>
                        <tr class="s-editor">
                            <th>个人扣税：</th>
                            <td><input type="text" name="PersonalTaxGZ" value="<?php echo $row['PersonalTax'];?>"></td>
                        </tr>
                        <tr class="s-editor">
                            <th>实发薪资：</th>
                            <td><input type="text" name="RHSGZ" value="<?php echo $row['RHS'];?>"></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input type="text" style="display:none" name="idGZ" value="<?php echo $row['id'];?>" />
                            </td>
                        </tr>
                        <tr class="s-act">
                            <th></th>
                            <td>
                                <input type="submit" value="修改" name="revise">
                                <input type="button" value="返回" name="save" onclick="javascrtpt:window.location.href='management_edit.php'" style="width: 50.67px; height: 32.4px;">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>

</html>