<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css/style.css">
    <title>修改密码</title>
    <style>
        span {
            display: block;
            width: 15px;
            height: 15px;
        }
        
        .mess {
            background: url(img/mess.png) no-repeat center center;
        }
        
        .wrong {
            background: url(img/wrong.png) no-repeat center center;
        }
        
        .right {
            background: url(img/right.png) no-repeat center center;
        }
        
        .wrap-category-edit input[type=password] {
            padding: 4px;
            border: 1px solid #bbb;
            font-size: 14px;
            color: #666;
            width: 250px;
        }
    </style>
</head>

<body>
    <div class="wrap wrap-category-edit">
        <h1>修改密码</h1>
        <div class="tips"></div>
        <div class="box">
            <div class="box-title ">修改密码</div>
            <div class="box-body ">
                <form method="post" action="Password2.php">
                    <table>
                        <tr>
                            <th width="80 ">员工账号：</th>
                            <td>
                                <input type="text" name="username" value="<?php echo $_SESSION['username'];?>" readonly/>

                            </td>
                        </tr>
                        <tr>
                            <th width="80 ">原密码：</th>
                            <td>
                                <input type="password" name="oldPwd" id="old">

                            </td>
                            <td>
                                <span id="right" class="mess"> </span>
                            </td>
                            <td>
                                <div id="old-password">请输入原始密码</div>
                            </td>
                        </tr>
                        <tr>
                            <th>新密码：</th>
                            <td>
                                <input type="password" name="newPwd" placeholder="长度6~18，只能包含字母和数字" id="new">

                            </td>
                            <td> <span id="right2" class="mess"></span></td>
                            <td>
                                <div id="new-password">请输入新密码</div>
                            </td>
                        </tr>
                        <tr>
                            <th>再次确认：</th>
                            <td>
                                <input type="password" name="newPwd2" placeholder="长度6~18，只能包含字母和数字" id="new2">
                            </td>
                            <td> <span id="right3" class="mess"></span></td>
                            <td>
                                <div id="new-password2">请再次输入新密码</div>
                            </td>
                        </tr>
                        <tr class="s-act">
                            <th></th>
                            <td>
                                <input type="submit" value="确认修改" name="revise">
                                <input type="submit" value="退出 " name="save">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <script>
        var oldpwd = document.getElementById('old');
        var oldpwdtext = document.getElementById('old-password');
        var right = document.getElementById('right');
        var passwordregex = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z\\W]{6,18}$/;
        oldpwd.onblur = function() {
            if (oldpwd.value == '') {
                oldpwdtext.innerHTML = '密码为空,请重新输入！';
                right.className = 'wrong';
            } else {
                oldpwdtext.innerHTML = '输入正确'
                right.className = 'right';
            }
        }
        var newpwd = document.getElementById('new');
        var newpwdtext = document.getElementById('new-password');
        newpwd.onblur = function() {
            if (newpwd.value == '') {
                newpwdtext.innerHTML = '密码为空,请重新输入！';
                right2.className = 'wrong';
            } else if (passwordregex.test(newpwd.value)) {
                newpwdtext.innerHTML = '输入正确'
                right2.className = 'right';
            } else {
                newpwdtext.innerHTML = '请输入正确的密码';
                right2.className = 'wrong';
            }
        }
        var newpwd2 = document.getElementById('new2');
        var newpwdtext2 = document.getElementById('new-password2');
        newpwd2.onblur = function() {
            if (newpwd2.value == '') {
                newpwdtext2.innerHTML = '密码为空,请重新输入！';
                right3.className = 'wrong';
            } else if (passwordregex.test(newpwd2.value)) {
                // newpwdtext2.innerHTML = '输入正确'
                // right3.className = 'right';
                if (newpwd.value == newpwd2.value) {
                    newpwdtext2.innerHTML = '输入正确'
                    right3.className = 'right';
                } else {
                    newpwdtext2.innerHTML = '两次密码不一样'
                    right3.className = 'wrong';
                }
            } else {
                newpwdtext2.innerHTML = '请输入正确的密码';
                right3.className = 'wrong';
            }

        }
    </script>
</body>

</html>